/* Styling the body */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Rubik", sans-serif;
}

/* Styling the header */
header {
    background-image: linear-gradient(to bottom right, rgb(60, 60, 60) 40%, red);
    color: #fff;
    border-bottom: 2px solid #000000;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    user-select: none;
}

.title {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

/* Logo within the header */
header img {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 80px;
    height: 80px;
}

/* Styling the container div */
.container {
    max-width: 800px;
    margin: 120px auto 50px;
    padding: 15px;
}

/* Styling text input */
input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
}

/* Styling the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Table header cells */
th {
    background-color: red;
    color: #fff;
    border: 2px solid #000000;
    cursor: pointer;
    user-select: none;
}

/* Table header hover */
th:hover {
    background-color: #750505;
    transition: background-color 0.3s ease;
}

/* Table data cells */
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 2px solid #000000;
}

/* Table rows */
tr {
    user-select: none;
}

/* Alternating background colors for even and odd rows */
tr:nth-child(even) {
    background-color: #e6e4e4;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Float right to the Añadir button */
.btnadd {
    float: right;
}

/* Styling buttons */
.btnadd, .btnenter {
    background-color: green;
    border: 2px solid black;
    color: white;
    padding: 6px 20px;
    text-align: center;
    font-size: 16px;
    margin: px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

/* Buttons on hover */
.btnadd:hover, .btnenter:hover {
    background-color: green;
    opacity: 0.7;
}

/* Center-align class */
.center-align {
    text-align: center;
}

/* Styling icon-edit and icon-delete */
.icon-edit, .icon-delete {
    display: inline-block;
}

/* Styling the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Set a higher z-index for the modal background */
}

/* Styling the modal content */
.modal-content {
    background-color: #fff;
    margin: 3% auto;
    padding: 15px;
    width: 40%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center;
    position: relative;
    z-index: 2; /* Set a higher z-index for the modal content */
}

/* Styling the row */
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Styling the column */
.column {
    width: 48%; /* Adjust the width as needed */
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Close button in the modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Registration form within the modal */
#registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

/* Labels within the registration form */
#registrationForm label {
    width: 100%;
    text-align: left;
}

/* Input fields within the registration form */
#registrationForm input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Buttons within the registration form */
#registrationForm button {
    width: auto;
    margin-top: 10px;
}

/* Bold font for labels*/
label {
    font-weight: bold;
}

/* Styling the footer */
footer {
    display: block;
    text-align: center;
    padding: 5px;
    background-image: linear-gradient(to bottom left, red, rgb(60, 60, 60) 60%);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #000000;
    user-select: none;
}

/* Styling link in the footer */
a {
    color:white;
    text-decoration: none;
}

/* Back to top button */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0067b1;
    color: #fff;
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    float: right;
  }
  
  #scrollToTopBtn:hover {
    background-color: #4394ce;
  }
